p The link is g0v Code of Conduct: <a href="https://g0v.tw/coc/en">https://g0v.tw/coc/en</a>
p The following information is provided in accordance with Personal Data Protection Act and relevant laws and rules enacted in Taiwan.
p 
  div Agency: g0v Summit 2024 workforce
  div Purpose: g0v Summit promotion
  div Collected Items: Name and E-mail
p The time, area, people, and mechanism of usage:
ul
  li Time: Preparation time of g0v Summit 2024 and Summit in the future.
  li Area: Taiwan
  li People applied: people who voluntarily fill this form.
  li Mechanism: collection, processing, usage.
p According to the Article 3rd of Personal Data Protection Act, you are entitled to make the following requests:
ul
  li To check or review the collected data.
  li To receive a photocopy of the collected data.
  li To supplement or revise the collected data.
  li To cease the collection, processing or use of the collected data.
  li To delete the collected data.
p According to the Article 14th of Personal Data Protection Act, you are entitled to make the following requests: 
ul 
  li To check or review the collected data.
  li To receive a photocopy of the collected data.
p If you want to make requests according to the Article 5th and 6th, please send a mail to g0v-summit-2024-host@googlegroups.com . We will reply to you in accordance with Personal Data Protection Act and relevant laws and rules enacted in Taiwan.
