p To provide you with personalized and real-time services, this website records and accesses your browsing usage information using "Cookies."
p As stated in the policy, continuing to use the website indicates your consent to the use of cookies and similar technologies. If you wish to have more control and make corresponding adjustments to your settings when visiting our website, you can read the relevant content in the "How to Control and Delete Cookies" section below. If you do not agree to such usage, please refrain from using our website.

h3 What are cookies?
p Cookies are small pieces of text used to store information on web browsers. They are sent by websites to your browser to record information between the website and the user. They are commonly used for identity verification, session management, remembering user preferences, analytics, and advertising.

h3 What cookies does the summit 2024 website use?
ul
  li Google Analytics
    p Used for website tracking and traffic statistics to help us understand how visitors interact with the website to improve website performance.

h3 How to control and delete cookies
ul
  li: a(href="https://support.google.com/chrome/answer/95647?hl=en", target="_blank") Clear, enable, and manage cookies in the Google Chrome browser
  li: a(href="https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer", target="_blank") Clear, enable, and manage cookies in the Microsoft Internet Explorer browser
  li: a(href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored", target="_blank") Clear, enable, and manage cookies in the Mozilla Firefox browser
  li: a(href="https://support.apple.com/guide/safari/sfri11471/mac", target="_blank") Clear, enable, and manage cookies in the Apple Safari browser