p 為提供您個人化且即時的服務，本網站透過使用 "Cookies" 記錄與存取您的瀏覽使用訊息。
p 如政策中所述，繼續使用網站，即表明您同意 cookie 及其他類似技術的使用。如果您希望造訪我們網站時能夠擁有更多的控制權，以及對設定做出相應調整。您可在下方「如何控制與刪除 cookie」部分中閱讀相關內容。如果您不同意此類使用，請避免使用我們的網站。

h3 什麼是 cookie
p Cookie 是用於在網頁瀏覽器上儲存資訊的小段文字，由網站傳送到您的瀏覽器，用來記錄網站和使用者之間的資訊。常用於身份驗證、會話管理、記住用戶偏好、分析和廣告。

h3 summit 2024 網站使用了哪些 cookies
ul
  li Google Analytics
    p 用於網站追蹤與流量統計，使我們了解造訪者與網站的互動方式，以幫助我們改善網站，提供更好的性能。

h3 如何控制與刪除 cookie
ul
  li: a(href="https://support.google.com/chrome/answer/95647?hl=en", target="_blank") 在 Google Chrome 瀏覽器中清除、啟用與管理 Cookie
  li: a(href="https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer", target="_blank") 在 Microsoft Internet Explorer 瀏覽器中清除、啟用與管理 Cookie
  li: a(href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored", target="_blank") 在 Mozilla Firefox 瀏覽器中清除、啟用與管理 Cookie
  li: a(href="https://support.apple.com/guide/safari/sfri11471/mac", target="_blank") 在 Apple Safari 瀏覽器中清除、啟用與管理 Cookie