h4 各位關注 g0v Summit 2024 的夥伴大家好！ g0v Summit 2024 開始徵稿了！即日起到 2023 年 12 月 10 日，歡迎大家一起來投稿！
h4.mt-5.mb-4  | 什麼是 g0v Summit? | 
p g0v Summit 台灣零時政府雙年會，兩年舉辦一次，關注開放政府、開源協作、公民參與等議題，是國際開放政府社群的焦點活動，過去四屆吸引多達 33 國講者投稿，每次近千名會眾參與。
p g0v 雙年會大部份由社群貢獻者志願籌辦，大會籌備的討論文件皆以共筆形式公開。議程的內容與審議秉持開放、協作精神，鼓勵會眾協作議程文字紀錄，大會亦備有即時口譯、手譯及影像直播，盡力創造一個輕鬆、多元、友善的參與環境。議程除了大會籌辦，也開放完整時段的「開放工作坊」（Unconference），由參與者提案決定主題，以演講、討論、工作坊等形式創造新的協作空間。自由報名的全場「閃電講」更是開源社群傳統，開放、分享的精神貫串大會。
h4.mt-5.mb-4  |  g0v Summit 2024 | 
p: b 2024 年 5 月 4 日（六）、5 月 5 日（日）
p: b 地點：中央研究院人文社會科學館
p 我們規劃了五大主軸，並且從這五大主軸出發，規劃 27 個關鍵字。分別是 
ol
  li
    p Nerd Politics vs. 數位治理：
    p #eID #個人資料保護 #AI科技規範 #數位平台規管 #數位性暴力 #數位主權
  li 
    p 資料、人工智慧與社群協作：
    p #開放政府 #大數據(資料治理) #群眾外包 #地圖資料 #開放課程
  li
    p 草根、開放、多中心的公民社群如何回應政治與科技的極權：
    p #社群治理 #數位韌性 #公民倡議 #數位民防 #開源精神
  li
    p 基於同理心、涵容、多元性的數位基礎建設：
    p #網路禮儀Netiquette #CoC #數位兩極化 #數位DEI（多元共融）#數位素養
  li 
    p 技術與議題的交鋒：
    p #SDGs #社會企業 #數位轉型 #創新創業 #教育 #非營利組織
h4.mt-5.mb-4  | 投稿形式 | 
ul
  li
    | 演講（talk）：30 分鐘
    ul
      li 適合單一主題/專案深入分享
  li
    | 主題論壇（panel discussion）: 90 分鐘
    ul
      li 適合邀請背景不同的人對談
  li
    | 工作坊（workshop）: 60 或 90 分鐘。限線下實體參與

    ul
      li 適合跟大家一起現場動手做

h4.mt-5.mb-4  | 講個秘訣：如何開始寫提案？ | 
ul
  li 你有正在參與的公民科技專案嗎？來分享吧！
  li 你有曾經參與但失敗的專案嗎？來分享吧！
  li 想要把同領域但平常各忙各的，湊在一起分享經驗？來辦主題論壇吧！
  li 想找人對談不知道找誰？也可以先公開提案再一起組隊！
  li 想要實驗有趣的工作坊形式嗎？
    ol
      li 先<a href="https://summit2024.g0v.tw/brd/2024/" target="_blank">提案</a>
      li 2023 年 12 月 10 日前，用提案連結分享想法，跟社群一起協作慢慢修改
      li 加入 g0v Slack 跟社群一起討論：<a href="https://join.g0v.tw" target="_blank">https://join.g0v.tw</a>
p 任何問題歡迎聯絡 g0v Summit 議程組：<br><b>program{at}summit.g0v.tw</b>

h4.mt-5.mb-4  | g0v Summit 議程組如何決定議程？ | 
h5.my-3 公開徵稿
b 第一階段：公開提案＋社群討論
ol
  li 上傳的提案內容（不含個資），將會公開在提案網站上，開放社群留言討論。
  li 上傳提案後，到 2023 年 12 月 10 日前，提案者都可以隨時登入更改。歡迎 release early, release often，帶著你的提案草稿跟更多社群夥伴腦力激盪有趣的議程！
b 第二階段：
p 由五位 g0v 社群參與者擔任議程委員決議，預計於 2024 年 2 月以前通知入選議程。<br> g0v Summit 活動當天也會有開放工作坊（Unconference）的時段，任何人都可以現場提案議程，歡迎帶著你的提案現場加入。
h5.my-3 社群軌
p g0v 社群有無數不同的專案、社群、議題討論。因此在 g0v Summit 中，將保留一軌議程，讓社群專案坑主主導，（參戰社群名單 coming soon）

h4.mt-5.mb-4  | 表單的資訊結構 | 
p 表單將收集您的投稿主題、內容說明、與 g0v Summit 2024 之關聯性、議程使用語言、方便與會日期等投稿相關資訊，以及電子郵件、姓名、稱呼等投稿者資訊。接著則會依照活動形式之不同分派到不同的表單段落，調查不同活動形式的細節資訊。

h4.mt-5.mb-4  | 聯絡我們 | 
p 若對提案有任何疑問，歡迎來信：<br><b>program{at}summit.g0v.tw</b>