h4 Hello to civic hackers! g0v Summit 2024 is now open for proposing ideas!
h4.mt-5.mb-4  | What is g0v Summit? | 
p g0v Summit is a biennial gathering in Taiwan that focuses on civic hacking, open government, open-source collaboration, and citizen participation. It is a major international event in the open government community and attracted speakers from up to 33 countries in the last four editions, with nearly a thousand of attendees each time.
p Most of the g0v Summits are held by community contributors, and the content of the discussion and preparation for the conference are opened as collaborative documents. The agenda and content of events adhere to an open and collaborative spirit, encouraging the audience to collaborate on taking notes and transcripts in real-time. The conference also features simultaneous interpretion and live video streaming, endeavoring to create a relaxed, diverse, and friendly environment for participation. In addition to the pre-planned agenda, the conference also features a section of “unconference”, where participants can propose topics and create new spaces for collaboration through talks, discussions, and workshops. Participants can also freely sign up for “lightning talks” – a tradition from open source communities that highlights the spirit of openness and sharing.
p Note: The default simultaneous interpreting service is between Mandarin and English.

h4.mt-5.mb-4  |  g0v Summit 2024 | 
p: b Date: May 4th-5th, 2024
p: b Location: Academia Sinica, Taipei, Taiwan
p: b Call for Proposal deadline: 11:59 pm, December 10th, 2023 UTC+8
p Themes and keywords of g0v Summit 2024
ol
  li
    .fw-bold "Nerd politics" v.s. digital governance
    div #eID #PersonalDataProtection #AIRegulation #DigitalPlatformRegulation #DigitalViolence #DigitalSovereignty
  li
    .fw-bold Data, AI, and community collaboration
    div #OpenGovernment #BigData(DataGovernance) #Crowdsourcing #GeoData #OpenCourses
  li
    .fw-bold Grassroots, open, polycentric, and communal responses to political and technological authoritarianism
    div #CommunityGovernance #DigitalResilience #CivicActivism #DigitalCivilDefence #OpenSourceSpirits
  li
    .fw-bold Digital infrastructure grounded in empathy, inclusiveness, and plurality
    div #Netiquette #CoC #DigitalPolarisation #DigitalDEI (Diversity and Inclusion) #DigitalLiteracy
  li
    .fw-bold Convergence of technology and social issues
    div #SDG #SocialEnterprise #DigitalTransformation #Innovation #Education #NGO

h4.mt-5.mb-4  | Session format | 
ul
  li Talk: 30 min
    ul: li Share your project!
  li Panel discussion: 90 min
    ul: li Curate conversations across diverse perspectives!
  li Workshop: 60 or 90 min (offline only)
    ul: li Co-create with the community by hands-on activities!

h4.mt-5.mb-4  | How to start a proposal? | 
ul
  li Are you working on a civic tech project? Come and share it!
  li Any reflections on past success or failure? Come and share them!
  li Got a group of experts in the same field that are too busy to meet? Propose a panel discussion!
  li Want to discuss a subject but don’t know with whom? Propose a talk and find co-speakers from the community!
  li Have an exciting new format for workshops that you want to try out?
    ol
      li Sumbit a draft proposal at the <a href="https://summit2024.g0v.tw/brd/2024/" target="_blank">proposal portal</a>.
      li Share the link to your draft, and iterate on the proposal with feedbacks from community until <b>December 10th, 2023</b>.
      li Join g0v Slack for more discussion: <a href="https://join.g0v.tw" target="_blank">https://join.g0v.tw</a>
p For any question, feel free to contact the Program Committee:<br><b>program{at}summit.g0v.tw</b>

h4.mt-5.mb-4  | How will the sessions be selected? | 
h5.my-3 Call for Proposal
b Phase 1: Proposals for public reviews and community discussion
ol
  li The content of the submitted proposals (excluding personal information) will be made publicly available on the proposal portal for community comments and discussions.
  li After submitting the proposal, proposers can log in and make changes anytime until <b>December 10, 2023</b>. We encourage you to “release early, release often” and engage with more community partners to brainstorm interesting agendas for your proposal!
p Don’t hesitate to put your ideas out there and co-create your session proposals with the community!

p Proposal portal: <a href="https://summit2024.g0v.tw/brd/2024/" target="_blank">https://summit2024.g0v.tw/brd/2024/</a>.

b Phase 2: Committee’s decision
p The Program Committee is comprised of five g0v contributors. The results of Call for Proposal is set to be released before February 2024.

h5.my-3 Community Track
p There will be one community track curated by several independent g0v projects. Details are coming out soon.

h4.mt-5.mb-4  | Contact us | 
p If there is any question regarding to Call for Proposal, please contact:<br><b>program{at}summit.g0v.tw</b>