h4 各位關注 g0v summit 2024 的夥伴大家好！ g0v Summit 2024 開始徵稿了！
h4.mt-5.mb-4 ｜什麼是 g0v Summit?｜
p g0v Summit 台灣零時政府雙年會 兩年舉辦一次，關注開放政府、開源協作、公民參與等議題，是國際開放政府社群的焦點活動，過去四屆吸引多達 33 國講者投稿，近千名會眾參與。
p g0v 雙年會大部份由社群貢獻者志願籌辦，大會籌備的討論文件皆以共筆形式公開。議程的內容與審議秉持開放、協作精神，鼓勵會眾協作議程文字紀錄，大會亦備有即時口譯、手譯及影像直播，盡力創造一個輕鬆、多元、友善的參與環境。議程除了大會籌辦，也開放完整時段的「開放工作坊」（Unconference），由參與者提案決定主題，以演講、討論、工作坊等形式創造新的協作空間。自由報名的全場「閃電講」更是開源社群傳統，開放、分享的精神貫穿大會。
h4.mt-5.mb-4 ｜ g0v Summit 2024｜
p: b 日期：2024年5月4日（六），5月5日（日）
p: b 地點：中央研究院人文社會科學館
p 我們規劃了五大主軸，並且從這五大主軸出發，規劃27個關鍵字。分別是 
ol
  li Nerd Politics v.s. 數位治理：eID / 個人資料保護 / AI 科技規範 / 數位平台規管 / 數位性暴力 / 數位主權
  li 資料、人工智慧與社群協作：開放政府 / 大數據(資料治理) / 群眾外包 / 地圖資料 / 開放課程
  li 草根、開放、多中心的公民社群如何回應政治與科技的極權：社群治理 / 數位韌性 / 公民倡議 / 數位民防 / 開源精神
  li 基於同理心、涵容、多元性的數位基礎建設：網路禮儀Netiquette / CoC / 數位兩極化 / 數位DEI（多元共融）/ 數位素養
  li 技術與議題的交鋒：SDG ／社會企業 / 數位轉型 / 創新創業 / 教育 / 非營利組織
h4.mt-5.mb-4 ｜表單的資訊結構｜
p 表單將收集您的投稿主題、內容說明、與 g0v summit 2024 之關聯性、議程使用語言、方便與會日期等投稿相關資訊，以及電子郵件、姓名、稱呼等投稿者資訊。接著則會依照活動形式之不同分派到不同的表單段落調查不同活動形式的細節資訊。
p 歡迎大家投稿！