.application .sect .p-4[t]::first-letter { text-transform: none!important }
b { font-weight: 600 }
ol.loose li { margin-bottom: .5em }
.indent { border-left: 5px solid #cccdce; border-radius: 5px; padding: 1em 1em .25em }
[scope~="_QG1ha2Vmb3JtL3RleHRhcmVhQG1haW46aW5kZXguaHRtbA__"] [ld="content"]
  h1 { font-size: 1.8em }
  h2 { font-size: 1.4em }
  h3 { font-size: 1.3em }
  h4 { font-size: 1.2em }
  h5 { font-size: 1.15em }
  h6 { font-size: 1.1em }
  padding: .85em!important
  background: #fdfeff
