div
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  mixin widget(name)
    div(ld="block",data-name=name)
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    include:lsc fields.ls
    include:lsc i18n.ls
    include:lsc index.ls
  div(plug="form")
    .sect.embed-hide
      img.d-block.mx-auto(path, path-src="img/banner.png", width="510", height="150"
      style="wdth:510px;max-width:100%;height:auto", alt="g0v summit banner")
      //-
        img.mb-4(path,path-src="img/g0v-logo.svg",width="128",height="1288",style="height:auto",alt="g0v logo")
        .pb-4
      .border-top.border-bottom.py-4.my-4
        h1 #[span(t="title.name")]
        .text-muted(t="title.date")
      div
        span(t="必填項目提示.0")
        span.mx-2 #[span.text-danger.font-weight-bold *]
        span(t="必填項目提示.1")
    .sect.view-hide
      .p-4.mb-4.border.shadow-sm
        .d-none(ld="for-lng", data-lng="zh"): include ./doc/claiming.zh.pug
        .d-none(ld="for-lng", data-lng="en"): include ./doc/claiming.en.pug
      +widget("agreement_accept")
      +widget("agreement_no_short")
    .sect.bg-light.border-top.border-bottom.pb-4.mt-4
      .d-none(ld="for-lng", data-lng="en"): include ./doc/info.en.pug
      .d-none(ld="for-lng", data-lng="zh"): include ./doc/info.zh.pug
    .sect
      h4 講者資訊
      +widget("email")
      +widget("affiliation")
      +widget("name")
      +widget("social_link")
      +widget("diverse_traits")
    .sect
      h4 投稿議程（公開提案）
      .row
        .col-md: +widget("title_zh")
        .col-md: +widget("title_en")
      +widget("description_zh")
      +widget("description_en")

    .sect
      +widget("theme")
      .indent
        .mb-4(t="請選擇與你投稿內容相關連之 g0v Summit 2024 之關鍵字")
        div(ld="visibility",data-name="keywords_1"): +widget("keywords_1")
        div(ld="visibility",data-name="keywords_2"): +widget("keywords_2")
        div(ld="visibility",data-name="keywords_3"): +widget("keywords_3")
        div(ld="visibility",data-name="keywords_4"): +widget("keywords_4")
        div(ld="visibility",data-name="keywords_5"): +widget("keywords_5")
    .sect
      +widget("language")
      +widget("event_format")
      .sect-speech.indent.mb-4
        div(ld="visibility",data-name="participate_format"): +widget("participate_format")
        div(ld="visibility",data-name="participate_format_novideo"): +widget("participate_format_novideo")
        div(ld="visibility",data-name="speach_speaker"): +widget("speach_speaker")
      .sect-panel.indent.mb-4(ld="visibility",data-name="sect-panel")
        +widget("panel_speaker_1")
        +widget("panel_speaker_1_affilation")
        +widget("panel_speaker_2")
        +widget("panel_speaker_2_affilation")
        +widget("panel_speaker_3")
        +widget("panel_speaker_3_affilation")
        +widget("panel_note")
      .sect-workshop.indent(ld="visibility",data-name="sect-workshop")
        +widget("workshop_length")
        +widget("workshop_intro")
        +widget("workshop_suitable")
        +widget("workshop_equipment")

    .sect.view-hide
      +widget("time_attend")
      +widget("visa_assistance")
      +widget("allow_cc_by")
      +widget("allow_recording")
      +widget("allow_streaming")
      +widget("where_get")
      +widget("something_to_say")

    .sect.embed-hide.view-hide(ld="is-editable")
      .btn.btn-primary.btn-lg.px-4(t,ld="submit") 送件
      .my-2: .text-danger.text-sm * #[span(t="after-publish")]
    +nbr(4)
