extends ../_layout.pug
block variables
  - title = "About CFP"
block head
  link(rel="stylesheet", href="/assets/css/base.css?version="+timestamp)
  link(rel="stylesheet", href="/assets/css/index.css?version="+timestamp)
  link(rel="stylesheet", href="/assets/css/about.css?version="+timestamp)
block body
  #loading
    img(src="/assets/img/pgln.svg", alt="")
  main
    a.btn.btn-outline-dark#lan(href="/about-cfp/en") 中/EN
    #top-block.w-100
      .container.px-0.px-md-5.pt-md-4.position-relative
        #topbar.rounded-2.bg-white.p-3.w-100.row.align-items-center.gx-0
          .col-md-auto: a(href="/"):  img.ms-2(src="/assets/img/pgln_g0v_summit.png", alt="", style="height: 3rem; width: auto;")
          #timer-cfp.mx-auto.w-max.ps-5 提案截止 2024 年 3 月 10 日 尚餘 <span>999</span> 天
          .col-md-auto.d-flex.align-items-center
            a.link.ms-auto(href="/") 關於 Summit
            a.btn.btn-summit-green.ms-3(href="//summit2024.g0v.tw/brd/2024/") 我要投稿<i class="ms-2 bi bi-box-arrow-up-right"></i>
            a.btn.btn-summit-yellow.ms-3.me-auto(href="http://eepurl.com/iDb61o", target="_blank") 訂閱電子報<i class="ms-2 bi bi-envelope"></i>
      .container.py-5.px-md-5
        include ../component/instructions.zh.pug

block script
  script.
    $(function() {
      const a = new Date();
      const c = new Date(2024, 2, 10, 23, 59, 59, 0);
      const delta_cfp = Math.ceil((c-a)/(24*60*60*1000));
      $("#timer-cfp span").text(delta_cfp);
    })

    $(window).on("load", function(e) {
      $("body").css("overflow", "unset");
      $("#loading").fadeOut(500);
    }).on("resize", function(e) {
      vw = $(window).width();
      vh = $(window).height();
    })