p g0v 社群 CoC (Code of Conduct)： <a href="https://g0v.tw/coc/">https://g0v.tw/coc/</a>
p 為遵守「個人資料保護法」與相關法令規定，並保障當事人之權利，謹依法告知下列事項：
p 
  div 機關單位名稱：g0v Summit 2024 籌備團隊
  div 蒐集之特定目的：g0v summit 宣傳使用
  div 個人資料之項目：姓名與電子郵件
p 個人資料利用之期間、地區、對象及方式：
ul
  li 期間：g0v Summit 2024 及未來 g0v summit 籌備期間 （籌備時間認定為該屆總召確認當日起，至活動結束後30天內）
  li 地區：台灣
  li 對象：自願填寫「g0v Summit 2024 Call for Paper」表單者
  li 方式：蒐集、處理、利用
p 依個人資料保護法第3條規定，當事人可行使以下權利：
ul
  li 查詢或請求閱覽。
  li 請求製給複製本。
  li 請求補充或更正。
  li 請求停止蒐集、處理及利用。
  li 請求刪除。
p 依個人資料保護法第14條規定，當事人得查詢或請求閱覽個人資料或製給複製本。
p 若遇行使第5及6條權利，請寫信至 g0v-summit-host@googlegroups.com ，本團隊將依法進行回覆。