p g0v Summit 2024 have five themes:
ol.loose
  li #[b Nerd Politics v.s. Digital Governance] --#[br]eID / Personal Data Protection / AI Technology Regulation / Digital Platform Regulation / Digital Violence / Digital Sovereignty
  li #[b Data, AI and Community Collaboration] --#[br]Open Government / Big Data (Data Governance) / Mass Outsourcing / Map Data / Open Courses
  li #[b How Grassroots, Open, and Multi] --#[br]Centred Civic Communities Respond to Political and Technological Totalitarianism-- Community Governance / Digital Toughness / Civic Advocacy / Digital Civil Defence / Open Spirit
  li #[b Digital Infrastructure Based on Empathy, Inclusion and Diversity] --#[br]Netiquette / CoC / Digital Polarisation / Digital DEI (Diversity and Inclusion) / Digital Literacy
  li #[b Interaction Between Technology and Issues] --#[br]SDG / Social Enterprise / Digital Transformation / Innovation / Education / Non-Profit Organisations
