p g0v Summit 2024 議程包含以下五大主軸：
ol.loose
  li #[b Nerd Politics v.s. 數位治理]：#[br]eID / 個人資料保護 / AI 科技規範 / 數位平台規管 / 數位性暴力 / 數位主權
  li #[b 資料、人工智慧與社群協作]：#[br]開放政府 / 大數據(資料治理) / 群眾外包 / 地圖資料 / 開放課程
  li #[b 草根、開放、多中心的公民社群如何回應政治與科技的極權]：#[br]社群治理 / 數位韌性 / 公民倡議 / 數位民防 / 開源精神
  li #[b 基於同理心、涵容、多元性的數位基礎建設]：#[br]網路禮儀Netiquette / CoC / 數位兩極化 / 數位DEI（多元共融）/ 數位素養
  li #[b 技術與議題的交鋒]：#[br]SDG ／社會企業 / 數位轉型 / 創新創業 / 教育 / 非營利組織
