p g0v Summit 2024 have five themes:
ol.loose
  li #[b “Nerd politics” v.s. digital governance] --#[br]#eID #PersonalDataProtection #AIRegulation #DigitalPlatformRegulation #DigitalViolence #DigitalSovereignty 
  li #[b Data, AI, and community collaboration] --#[br]#OpenGovernment #BigData(DataGovernance) #Crowdsourcing #GeoData #OpenCourses
  li #[b Grassroota, open, polycentric, and civic communal response to political and technological authoritarianism] --#[br]#CommunityGovernance #DigitalResilience #CivicActivism #DigitalCivilDefence #OpenSourceSpirits
  li #[b Digital infrastructure grounded in empathy, inclusiveness, and plurality] --#[br]#Netiquette #CoC #DigitalPolarisation #DigitalDEI (Diversity and Inclusion) #DigitalLiteracy
  li #[b Convergence of technology and social issues] --#[br]#SDG #SocialEnterprise #DigitalTransformation #Innovation #Education #NGO
