h4 Hello to everyone who is following the g0v Summit 2024! g0v Summit 2024 is now open for proposing ideas.
h4.mt-5.mb-4 ｜What is g0v Summit?｜
p g0v Summit is a biennial conference held once in two years in Taiwan. It is a crucial event for the international open government community, focusing on issues such as open government, open-source collaboration, and civic engagement. In the four times of previous holding experiences, the conference has attracted speakers from 33 countries and nearly 1,000 participants from the public.
p Most of the g0v Summits are held by community contributors, and the content of the discussion and preparation for the conference will be opened in the form of collaborative documents. The scheme of g0v Summit adheres to an open and collaborative spirit. The agenda and deliberations adhere to an open and collaborative spirit, encouraging the audience to collaborate on the transcripts of the agenda. The conference also features immediate oral translation, sign language interpretation, and live video streaming, endeavoring to create a relaxed, diverse, and friendly environment for participation. In addition to the organisation of the conference, the agenda also includes a full-time unconference, where participants can propose topics and create new spaces for collaboration through lectures, discussions, and workshops. Participants can also freely sign up for “lightning talks”-- the spirit of openness and sharing runs throughout the g0v Summit.
h4.mt-5.mb-4 ｜ g0v Summit 2024｜
p: b Date: From 2024/5/4(Sat) to 5/5(Sun)
p: b Location: Building of Humanities and Social Sciences, Academia Sinica 
p We have planned 27 keywords based on five main topics:
ol
  li Nerd Politics v.s. Digital Governance-- eID / Personal Data Protection / AI Technology Regulation / Digital Platform Regulation / Digital Violence / Digital Sovereignty
  li Data, AI and Community Collaboration-- Open Government / Big Data (Data Governance) / Mass Outsourcing / Map Data / Open Courses
  li How Grassroots, Open, and Multi-Centred Civic Communities Respond to Political and Technological Totalitarianism-- Community Governance / Digital Toughness / Civic Advocacy / Digital Civil Defence / Open Spirit
  li Digital Infrastructure Based on Empathy, Inclusion and Diversity-- Netiquette / CoC / Digital Polarisation / Digital DEI (Diversity and Inclusion) / Digital Literacy
  li Interaction Between Technology and Issues-- SDG / Social Enterprise / Digital Transformation / Innovation / Education / Non-Profit Organisations
h4.mt-5.mb-4 ｜Information Structure of Form｜
p The form will collect information about your submission, such as topic, description, relevance to g0v Summit 2024, the language of the agenda, and convenient dates relating to purpose ideas. Also, the information of contributors, such as email, name, and title, would be collected. Then, depending on the type of event, you will be assigned to different form sections to investigate the details of the different kinds of events.
p Don't be hesitate to propose your ideas!