:root
  --bs-btn-bg: rgba(108, 154, 74, 1)
.btn { font-weight: 500 }
.btn.btn-success { background: var(--bs-btn-bg); }
.navbar.fixed-top { line-height: 1em }
body
  overflow: visible
a { color: var(--pgln-brown); }
.hero
  background-image: unquote("url(/template/2024/assets/img/bg_top2.jpg)")
  background-attachment: fixed
  background-position: center bottom
  background-size: cover

