#top-block {
  background-image: url("../img/bg_top2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 110vh;
}

#cloud {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}
#cloud .text-block {
  color: var(--pgln-brown);
  opacity: 0.5;
  display: none;
  position: absolute;
  text-align: center;
  word-break: keep-all;
  width: max-content;
  transform: translate(-50%, -50%);
}

#topbar img {
  height: 3rem;
  width: auto;
}
#topbar a.link {
  text-decoration: none;
  color: var(--pgln-brown);
}

#write-something h0 {
  pointer-events: none;
  transform: translateY(50%);
  z-index: 1;
}
#write-something .input-group {
  width: 60%;
}
#write-something input {
  border: 0;
  box-shadow: none;
  font-size: 1.5rem;
  text-align: right;
}

@keyframes timer-blink {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
#what-is-summit .content {
  color: var(--pgln-brown);
  font-size: 1.8rem;
}
#what-is-summit #timer {
  color: var(--pgln-brown);
  display: block;
  width: max-content;
  margin-left: auto;
}
#what-is-summit #timer span {
  animation: timer-blink 1s linear infinite;
  font-size: 8rem;
  font-family: monospace;
  font-weight: bold;
  line-height: 3rem;
  height: 3.5rem;
  display: block;
  padding-left: 3rem;
  padding-right: 1.5rem;
}

#what-is-g0v {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}

#summit-topics .content {
  font-size: 3rem;
}