extends ../_layout.pug
block variables
  - title = "交通資訊"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3 交通資訊
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1873.8475225019197!2d121.60977844724385!3d25.04050229926607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab46b3aaaaab%3A0x6ad0b8243ddc70ef!2z5Lit5aSu56CU56m26Zmi5Lq65paH56S-5pyD56eR5a246aSo!5e0!3m2!1szh-TW!2stw!4v1709469829063!5m2!1szh-TW!2stw' width='100%' height='450' style='border:0;' allowfullscreen loading='lazy' referrerpolicy='no-referrer-when-downgrade')
  .container.my-20
    .my-8
      h3.mb-4 中央研究院人文社會科學館
      p 台北市南港區研究院路二段 128 號
    .my-8
      h3.mb-4 公車
      p 搭乘 212、276、306、620、645、679、205、 小5、小1、小12 等公車至中研院站，步行至人文館
    .my-8
      h3.mb-4 台北捷運
      p 搭乘捷運板南線至南港站（2 號出口）換乘公車 212、270 或藍 25 至中研院站，步行至人文館
    .my-8
      h3.mb-4 計程車
      p 可搭乘計程車進入院區
    .my-8
      h3.mb-4 開車
      p 由國道三號，南深路-中研院匝道〈16km〉出國道三號後，左轉接南深路，再左轉接舊莊路一段直走，遇到與研究院路叉路口，即可看到中研院。
      p 車輛進入院區請持證件向大門警衛室換取臨時通行證。若您於週一至週五來訪，您須停車至人文社會館 B2，並需支付停車費用（每小時 20 元）。假日換證不收費，並請停車於院內道路旁停車格。
    .my-8
      h3.mb-4 騎摩托車
      p 院區大門右方有免費機車停車區。或是沿研究院路騎，經過大門、郵局後靠右直騎過側門，往左邊看也有一個停車場。
  .px-4.my-20
    img.w-100.mb-16(src="assets/img/中研院人社中心3樓平面圖.png", alt="中研院人社中心3樓平面圖")
    img.w-100(src="assets/img/中研院人社中心4樓平面圖.png", alt="中研院人社中心4樓平面圖")