extends ../_layout.pug
block variables
  - title = "合作夥伴"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3 合作夥伴
  .container.my-20